header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4eccd7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100px;
  padding: 10px 30px;
  box-shadow: 0px 2px 7px 0 #00000021;
}

header nav {
  width: 40%;
}

header p {
  color: #000;
}

header nav .links {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

header nav .links .navLink {
  color: #000;
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
}

header nav .links .navLink:hover {
  color: var(--S-Dark);
}
